<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付成功页面</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">支付</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-more"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-pay-box">
            <div class="aui-pay-text">
                <p>恭喜您支付成功</p>
                <h2><em>￥</em>[[${total_amount}]]</h2>
                <p>下单支付¥[[${total_amount}]]，您可以稍后返回主页选坐</p>
            </div>
            <div class="aui-pay-fill">
                <div class="aui-pay-flex">
                    <div class="aui-flex b-line">
                        <div class="aui-flex-box">
                            <h2 class="aui-pay-titleS">支付信息</h2>
                        </div>
                        <span class="aui-arrow">查看详情</span>
                    </div>
                    <div class="aui-pay-info">
                        <p class="aui-flex">支付金额 <em class="aui-flex-box">¥[[${total_amount}]]</em></p>
                        <p class="aui-flex">支付方式 <em class="aui-flex-box">支付宝账户(1568)</em></p>
                        <p class="aui-flex">当前状态 <em class="aui-flex-box">已支付 等待选坐</em></p>
                    </div>
                </div>

                </div>


            </div>



            <div class="aui-pay-com">
                <button onclick="jump()">完成</button>
            </div>



        </div>

    </section>

</section>
<script>
    function jump() {
        location.href = 'http://localhost:8344/#/';
    }
</script>
</body>
</html>
